<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.randomapplication">
    3
    <application
        android:allowBackup="false"
        android:icon="@drawable/iconrandom"
        android:label="Random Apps"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DaftarPesertaActivity" />
        <activity android:name=".LihatKelompokActivity" />
        <activity android:name=".KelompokKelasActivity"></activity>
    </application>

</manifest>